* {
  font-family: "Fira Sans Condensed", sans-serif;
}

.bg-navbar {
  background-color: gray;
}

.navbar-brand,
.nav-link {
  color: white;
}

.active {
  color: white !important;
  font-weight: bold;
  border-bottom: 3px solid;
}

/* index.css */
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #121212;
  color: white;
}
